<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="Know the best crop for your soil!!!">

	<!-- title -->
	<title>About</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="static/images/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="static/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="static/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="static/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="static/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="static/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="static/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="static/css/responsive.css">

</head>

<body>
	<script>
document.addEventListener("contextmenu", function(event){
event.preventDefault();
alert('Right Click is Disabled');
}, false);
</script>
	<!--PreLoader-->
	<div class="loader">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div>
	<!--PreLoader Ends-->

	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="/">
								<img src="static/images/logo.png" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
                        <ul>
                            <li class="current-list-item"><a href="/">Home</a>
                            </li>
                            <li><a href="/about">About</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="/crop_prediction">Crop Predicition</a></li>
                                    <li><a href="/crop_requisites_1">Crop Requisites</a></li>
									<li><a href="/basics-1">Crop Management</a> </li>

                                </ul>
                            </li>

                            <li>
                                <script type="text/javascript"
                                    src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                                <script type="text/javascript">
                                    $(function () {
                                        $('#scrollToBottom').bind("click", function () {
                                            $('html, body').animate({ scrollTop: $(document).height() }, 1200);
                                            return false;
                                        });
                                    });
                                </script>
								<div class="header-icons">
										<a class="shopping-cart" href="/shop"><i class="fas fa-shopping-cart"></i></a>
<!--										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>-->
									<a href="javascript:;" id="scrollToBottom">Contact Us</a>
									</div>
								<div id='google_translate_element' style="margin-left:400px;margin-top:-7%"></div>
 <script>
 function googleTranslateElementInit() {
 new google.translate.TranslateElement({
 pageLanguage: 'en',
 autoDisplay: 'true',
 layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL
 }, 'google_translate_element');
 }
 </script>
 <script src='//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit'></script>

                            </li>
                        </ul>
                    </nav>


						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->


	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-nbg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fields Are OUR Future</p>
						<h1>About Us</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- featured section -->
	<div class="feature-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="featured-text">
						<h2 class="pb-3">Our <span class="orange-text">Aim</span></h2>
						<div class="row">
							<div class="col-lg-6 col-md-6 mb-4 mb-md-5">
								<div class="list-box d-flex">

									<div class="content">
										<h3>Crop Predicition</h3>
										<br>
										<p align="justify" style="color: #F28123;
										font-weight:100;
										">Since the beginning, increased crop production has been the ultimate goal of the farmer, and for this he
											has been constantly changing and finding new ways to produce and maximize
											the yield of the crops he has sown.</p>
										<br>
										<p align="justify" style="color: #000000;
										font-weight:100;
										">Different crops require different kinds of soil, different levels of nutrients and the right amount of
											water. The quantity of water required by the plant also depends on the
											growing season and the climate in which it is grown. By selecting the right
											crop for the given soil conditions and climate, the farmer can optimise
											yields, save on water required for irrigation and conserve the soil. Once
											adapted it becomes a sustainable tool to protect the soil from erosion.</p>
										<br>
										<p align="justify" style="color: #F28123;
										font-weight:100;
										">The aim of this project was to help farmers grow the best crop with the soil at their disposal by entering
											the attributes of the soil like the level of N (Nitrogen),P
											(Phosphorus) & K (Potassium) ,pH level and the general humidity, temperature
											& rainfall of the region. After entering these values, the farmer can see
											the best crop he can cultivate in his soil through a machine learning
											algorithm.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end featured section -->




	<!-- end team section -->

	<!-- testimonail-section -->
	<!-- <div class="testimonail-section mt-80 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="testimonial-sliders">
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="static/images/avatar1.png" alt="">
							</div>
							<div class="client-meta">
								<h3>Saira Hakim <span>Local shop owner</span></h3>
								<p class="testimonial-body">
									" Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="static/img/avaters/avatar2.png" alt="">
							</div>
							<div class="client-meta">
								<h3>David Niph <span>Local shop owner</span></h3>
								<p class="testimonial-body">
									" Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="static/images/avatar3.png" alt="">
							</div>
							<div class="client-meta">
								<h3>Jacob Sikim <span>Local shop owner</span></h3>
								<p class="testimonial-body">
									" Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- end testimonail-section -->




	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">

				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>Marathahalli, Bangalore, 560037</li>
							<li>adrushtshetty@gmail.com</li>
							<li>+91 9880404603</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/about">About</a></li>
							<li><a href="#">Crop Management</a>
								<ul class="sub-menu">
									<li><a href="/crop_prediction">Crop Predicition</a></li>
									<li><a href="/crop_requisites_1">Crop Benchmarks</a></li>
								</ul>
							</li>

						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="{{ url_for('mail')}}" method="post">
							<input type="email" placeholder="Email" name="Mail" >
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>


	<!-- jquery -->
	<script src="static/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="static/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="static/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="static/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="static/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="static/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="static/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="static/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="static/js/sticker.js"></script>
	<!-- main js -->
	<script src="static/js/main.js"></script>

</body>

</html>