<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="Know the best crop for your soil!">


	<!-- title -->
	<title>Crop Management</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="static/images/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="static/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="static/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="static/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="static/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="static/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="static/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="static/css/responsive.css">

</head>
<body>
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="index.html">
								<img src="static/images/logo.png" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
                        <ul>
                            <li class="current-list-item"><a href="/">Home</a>
                            </li>
                            <li><a href="/about">About</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="/crop_prediction">Crop Predicition</a></li>
                                    <li><a href="/crop_requisites_1">Crop Requisites</a></li>
									<li><a href="/basics-1">Crop Management</a> </li>

                                </ul>
                            </li>

                            <li>
                                <script type="text/javascript"
                                    src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                                <script type="text/javascript">
                                    $(function () {
                                        $('#scrollToBottom').bind("click", function () {
                                            $('html, body').animate({ scrollTop: $(document).height() }, 1200);
                                            return false;
                                        });
                                    });
                                </script>
								<div class="header-icons">
										<a class="shopping-cart" href="/shop"><i class="fas fa-shopping-cart"></i></a>
<!--										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>-->
									<a href="javascript:;" id="scrollToBottom">Contact Us</a>
									</div>
								<div id='google_translate_element' style="margin-left:400px;margin-top:-7%"></div>
 <script>
 function googleTranslateElementInit() {
 new google.translate.TranslateElement({
 pageLanguage: 'en',
 autoDisplay: 'true',
 layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL
 }, 'google_translate_element');
 }
 </script>
 <script src='//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit'></script>

                            </li>
                        </ul>
                    </nav>

						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->

	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search arewa -->
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Read the Details</p>
						<h1>Additional Practices</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- single article section -->
	<div class="mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="single-article-section">
						<div class="single-article-text">
							<div class="single-artcile-bg-advc1"></div>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 26 October, 2022</span>
							</p>
							<h2>Post-anthesis controlled soil drying improves remobilization of carbon reserves and grain filling</h2>

							<p>Grain filling is the final stage of growth in cereals when fertilized ovaries develop into caryopses and depends on carbon from two resources: current assimilates and assimilates redistributed from reserve pools in vegetative tissues either pre- or post-anthesis.
							The contribution of reserved assimilates in culms and leaf sheaths of rice plants is estimated at 10-40% of the final yield, depending on the cultivar and the environmental conditions.
							Remobilization of reserves to the grain is critical for grain yield if the plants are subjected to water stress or if the yield potential is largely based on the high biomass accumulation.
							<br>
							<br>
							Remobilization and transfer of the stored assimilates in vegetative tissues to the grain in monocarpic plants such as rice and wheat require the initiation of whole plant senescence.
							Delayed whole plant senescence (i.e. plants remain green when grains are due to ripen) results in much non-structural carbohydrate (NSC) left in the straw and leads to a low HI. Slow grain-filling can often be associated with the delay of whole plant senescence.
							Usually, water stress at grain-filling time induces early senescence and shortens the grain-filling period but increases the remobilization of assimilates from the straw to grains.
							Can the advantage of soil drying-induced whole plant senescence and better carbon remobilization be taken to improve grain yield in situations where unfavourably delayed senescence is a problem? It has been found that a controlled soil drying or a moderate soil drying, namely plants can rehydrate overnight, and photosynthesis is not severely inhibited,  imposed at mid and late grain-filling stages (from 9 d post-anthesis until maturity) can greatly enhance assimilate remobilization from vegetative tissues to grains and also accelerate the grain-filling rate.
							<br>
							<br>
							Such a controlled soil drying does not necessarily reduce grain yield even when plants are grown under normal nitrogen conditions. Furthermore, in cases where plant senescence is unfavourably delayed, such as by the heavy use of nitrogen, the gain from enhanced remobilization and accelerated grain-filling rate can outweigh the loss of reduced photosynthesis and a shortened grain-filling period, leading to an increased grain yield and higher HI and WUE.
							The mechanism by which post-anthesis-controlled soil drying enhances the utilization of pre-stored assimilates is not fully understood. Many processes are likely to be involved, including the hydrolysis of stored carbohydrate, phloem loading, long-distance translocation, and phloem unloading into the kernels. It was observed that, in rice stems, both α- and β-amylase activities were enhanced by the soil drying treatment, with the former enhanced more than the latter, and significantly correlated with the concentrations of soluble sugars in the stems. The other two possible starch-breaking enzymes, α-glocosidase and starch phosphorylase, showed no significant differences in the activities between well-watered and soil drying treatments. Soil drying also increased the sucrose-phosphate synthase activity that is responsible for sucrose production.</p>

						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="sidebar-section">
						<div class="recent-posts">
							<h4>Recent Posts</h4>
							<ul>
								<li><a href="/advc-1">Post-anthesis controlled soil drying improves remobilization of carbon reserves and grain filling</a></li>
								<li><a href="/advc-2">A moderate wetting drying regime reduces redundant vegetative growth and increases grain yield</a></li>
								<li><a href="/advc-3">Non-flooded straw mulching cultivation maintains a high grain yield and increases WUE.</a></li>
							</ul>
						</div>
						<div class="archive-posts">
							<h4>Archive Posts</h4>
							<ul>
								<li><a href="/importance-crop-management">Importance of Crop Management</a></li>
								<li><a href="/basics-2">Seedbed Preparation</a></li>
								<li><a href="/basics-3">Planting</a></li>
								<li><a href="/basics-4">Fertilization</a></li>
								<li><a href="/basics-5">Pest Management</a></li>
								<li><a href="/basics-6">Irrigation</a></li>
								<li><a href="/basics-7">Harvesting</a></li>
								<li><a href="/basics-8">Post-Harvest Storage</a></li>
								<li><a href="/basics-9">Additional Practices</a></li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end single article section -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="static/images/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="static/images/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="static/images/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="static/images/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="static/images/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

	<div class="footer-area">
		<div class="container">
			<div class="row">

				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>Marathahalli, Bangalore, 560037</li>
							<li>adrushtshetty@gmail.com</li>
							<li>+91 9880404603</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/about">About</a></li>
							<li><a href="/crop_prediction">Crop Management</a>
								<ul class="sub-menu">
									<li><a href="/crop_prediction">Crop Predicition</a></li>
									<li><a href="/crop_requisites_1">Crop Benchmarks</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="{{ url_for('mail')}}" method="post">
							<input type="email" placeholder="Email" name="Mail" >
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->



	<!-- jquery -->
	<script src="static/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="static/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="static/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="static/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="static/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="static/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="static/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="static/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="static/js/sticker.js"></script>
	<!-- main js -->
	<script src="static/js/main.js"></script>

</body>

</html>