<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="Know the best crop for your soil!!!">

	<!-- title -->
	<title>Crop Requisites</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="static/images/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="static/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="static/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="static/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="static/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="static/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="static/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="static/css/responsive.css">

</head>

<body>
	<script>
document.addEventListener("contextmenu", function(event){
event.preventDefault();
alert('Right Click is Disabled');
}, false);
	</script>
	<!--PreLoader-->
	<div class="loader">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div>
	<!--PreLoader Ends-->

	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="/">
								<img src="static/images/logo.png" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
                        <ul>
                            <li class="current-list-item"><a href="/">Home</a>
                            </li>
                            <li><a href="/about">About</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="/crop_prediction">Crop Predicition</a></li>
                                    <li><a href="/crop_requisites_1">Crop Requisites</a></li>
									<li><a href="/basics-1">Crop Management</a> </li>

                                </ul>
                            </li>

                            <li>
                                <script type="text/javascript"
                                    src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                                <script type="text/javascript">
                                    $(function () {
                                        $('#scrollToBottom').bind("click", function () {
                                            $('html, body').animate({ scrollTop: $(document).height() }, 1200);
                                            return false;
                                        });
                                    });
                                </script>
								<div class="header-icons">
										<a class="shopping-cart" href="/shop"><i class="fas fa-shopping-cart"></i></a>
<!--										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>-->
									<a href="javascript:;" id="scrollToBottom">Contact Us</a>
									</div>

                            </li>
                        </ul>
                    </nav>


						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>AWS Project - Adrusht Shetty</p>
						<h1>Crop Requisites</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- products -->
	<div class="product-section mt-150 mb-150">
		<div class="container">

			<div class="row">
				<div class="col-md-12">
					<div class="product-filters">
						<ul>
							<li class="active" data-filter="*">All</li>
							<li data-filter=".Rice">Rice</li>
							<li data-filter=".Wheat">Wheat</li>
							<li data-filter=".Maize">Maize</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row product-lists">
				<div class="col-lg-4 col-md-6 container text-center Rice">
					<div class="single-product-item">
						<div class="product-image">
							<img src="static/images/rice.jpg" alt="">
						</div>
						<h3>Rice</h3>
						<p>Temperature: 21° - 30° C</p>
						<p>Humidity: 60% - 80%</p>
						<p>Rainfall: 175 - 300 cm</p>
						<p>pH level: 3.5 - 8.5 </p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 container text-center Wheat">
					<div class="single-product-item">
						<div class="product-image">
							<img src="static/images/wheat.jpg" alt="">
						</div>
						<h3>Wheat</h3>
						<p>Temperature: 20° - 25° C</p>
						<p>Humidity: 50% - 60%</p>
						<p>Rainfall: 50 - 100 cm</p>
						<p>pH level: 6 - 7 </p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 container text-center Maize">
					<div class="single-product-item">
						<div class="product-image">
							<img src="static/images/maize.jpg" alt="">
						</div>
						<h3>Maize</h3>
						<p>Temperature: 21° - 27° C</p>
						<p>Humidity: 18% - 24%</p>
						<p>Rainfall: 60 - 110 cm</p>
						<p>pH level: 5.8 - 6.2 </p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 container text-center">
					<div class="single-product-item">
						<div class="product-image">
							<img src="static/images/chickpeas.jpg" alt="">
						</div>
						<h3>Chickpeas</h3>
						<p>Temperature: 20° - 25° C</p>
						<p>Humidity: 14% - 16%</p>
						<p>Rainfall: 35 - 40 cm</p>
						<p>pH level: 6 - 9 </p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 container text-center">
					<div class="single-product-item">
						<div class="product-image">
							<img src="static/images/kidney.jpg" alt="">
						</div>
						<h3>Kidneybeans</h3>
						<p>Temperature: 18° - 26° C</p>
						<p>Humidity: 12% - 14%</p>
						<p>Rainfall: 60 - 150 cm</p>
						<p>pH level: 5.5 - 6 </p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 container text-center">
					<div class="single-product-item">
						<div class="product-image">
							<img src="static/images/peas.jpg" alt="">
						</div>
						<h3>Pigeon Peas</h3>
						<p>Temperature: 26° - 30° C</p>
						<p>Humidity: 15% - 20%</p>
						<p>Rainfall: 60 - 65 cm</p>
						<p>pH level: 5 - 7 </p>
					</div>
				</div>

				<div class="row" class="center" style="position: fixed;">
					<div class="col-lg-12 text-center">
						<div class="pagination-wrap">
							<ul>
								<li><a class="active" href="/crop_requisites_1">1</a></li>
								<li><a href="/crop_requisites_2">2</a></li>
								<li><a href="/crop_requisites_3">3</a></li>
								<li><a href="/crop_requisites_2">Next</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end products -->
		<!-- end products -->


		<!-- footer -->
		<div class="footer-area">
			<div class="container">
				<div class="row">

					<div class="col-lg-3 col-md-6">
						<div class="footer-box get-in-touch">
							<h2 class="widget-title">Get in Touch</h2>
							<ul>
								<li>Marathahalli, Bangalore, 560037</li>
								<li>adrushtshetty@gmail.com</li>
								<li>+91 9880404603</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="footer-box pages">
							<h2 class="widget-title">Pages</h2>
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="/about">About</a></li>
								<li><a href="#">Crop Management</a>
									<ul class="sub-menu">
										<li><a href="/crop_prediction">Crop Predicition</a></li>
										<li><a href="/crop_requisites_1">Crop Benchmarks</a></li>
									</ul>
								</li>

							</ul>
						</div>
						<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="{{ url_for('mail')}}" method="post">
							<input type="email" placeholder="Email" name="Mail" >
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- end footer -->



	<!-- jquery -->
	<script src="static/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="static/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="static/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="static/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="static/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="static/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="static/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="static/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="static/js/sticker.js"></script>
	<!-- main js -->
	<script src="static/js/main.js"></script>

</body>

</html>