<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="Know the best crop for your soil!!!">

	<!-- title -->
	<title>Crop Requisites</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="static/images/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="static/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="static/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="static/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="static/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="static/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="static/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="static/css/responsive.css">

</head>

<body>
	<script>
document.addEventListener("contextmenu", function(event){
event.preventDefault();
alert('Right Click is Disabled');
}, false);
</script>

	<!--PreLoader-->
	<div class="loader">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div>
	<!--PreLoader Ends-->

	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="/">
								<img src="static/images/logo.png" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
                        <ul>
                            <li class="current-list-item"><a href="/">Home</a>
                            </li>
                            <li><a href="/about">About</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="/crop_prediction">Crop Predicition</a></li>
                                    <li><a href="/crop_requisites_1">Crop Requisites</a></li>
									<li><a href="/basics-1">Crop Management</a> </li>

                                </ul>
                            </li>

                            <li>
                                <script type="text/javascript"
                                    src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                                <script type="text/javascript">
                                    $(function () {
                                        $('#scrollToBottom').bind("click", function () {
                                            $('html, body').animate({ scrollTop: $(document).height() }, 1200);
                                            return false;
                                        });
                                    });
                                </script>
								<div class="header-icons">
										<a class="shopping-cart" href="/shop"><i class="fas fa-shopping-cart"></i></a>
<!--										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>-->
									<a href="javascript:;" id="scrollToBottom">Contact Us</a>
									</div>

                            </li>
                        </ul>
                    </nav>

						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>AWS Project - Adrusht Shetty</p>
						<h1>Crop Requisites</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- products -->
	<div class="product-section mt-150 mb-150">
		<div class="container">

			<div class="row">
				<div class="col-md-12">
					<div class="product-filters">
						<ul>
							<li class="active" data-filter="*">All</li>
							<li data-filter=".Moth">Moth Beans</li>
							<li data-filter=".Mangoes">Mangoes</li>
							<li data-filter=".Bananas">Bananas</li>
						</ul>
					</div>
				</div>
			</div>
			<br>
			<div class="row product-lists">
				<div class="col-lg-4 col-md-6 text-center Moth">
					<div class="single-product-item">
						<div class="product-image">
							<img src="static/images/moth.jpg" alt="">
						</div>
						<h3>Moth Beans</h3>
						<p>Temperature: 24° - 32° C</p>
						<p>Humidity: 60% - 80%</p>
						<p>Rainfall: 50 - 75 cm</p>
						<p>pH level: 3.5 - 10 </p>
					</div>
				</div>
				<br>
				<div class="col-lg-4 col-md-6 text-center Lentil">
					<div class="single-product-item">
						<div class="product-image">
							<img src="static/images/lentill.jpg" alt="">
						</div>
						<h3>Lentil</h3>
						<p>Temperature: 18° - 30° C</p>
						<p>Humidity: 50% - 60%</p>
						<p>Rainfall: 15.2 - 52.7 cm</p>
						<p>pH level: 6 - 8 </p>
					</div>
				</div>
				<br>
				<div class="col-lg-4 col-md-6 text-center Black Gram">
					<div class="single-product-item">
						<div class="product-image">
							<img src="static/images/black.jpg" alt="">
						</div>
						<h3>Black Gram</h3>
						<p>Temperature: 25° - 25° C</p>
						<p>Humidity: 90%</p>
						<p>Rainfall: 70 - 90 cm</p>
						<p>pH level: 6.5 - 7.8 </p>
					</div>
				</div>
				<br>
				<div class="col-lg-4 col-md-6 text-center Pomegranate">
					<div class="single-product-item">
						<div class="product-image">
							<img src="static/images/pomegranate.jpg" alt="">
						</div>
						<h3>Pomegranate</h3>
						<p>Temperature: 23° - 32° C</p>
						<p>Humidity: 6% - 18%</p>
						<p>Rainfall: 18 - 100 cm</p>
						<p>pH level: 7.5 </p>
					</div>
				</div>
				<br>
				<div class="col-lg-4 col-md-6 text-center Bananas">
					<div class="single-product-item">
						<div class="product-image">
							<img src="static/images/banana.jpg" alt="">
						</div>
						<h3>Bananas</h3>
						<p>Temperature: 15° - 35° C</p>
						<p>Humidity: 75% - 85%</p>
						<p>Rainfall: 200 - 250 cm</p>
						<p>pH level: 6.5 - 7.5 </p>
					</div>
				</div>
				<br>
				<div class="col-lg-4 col-md-6 text-center Mangoes">
					<div class="single-product-item">
						<div class="product-image">
							<img src="static/images/mango.jpg" alt="">
						</div>
						<h3>Mangoes</h3>
						<p>Temperature: 23.9° - 26.7° C</p>
						<p>Humidity: 50%</p>
						<p>Rainfall: 89 - 101 cm</p>
						<p>pH level: 5.5 - 7.5 </p>
					</div>
				</div>
				<br>

				<div class="row" class="center" style="position: fixed;">
					<div class="col-lg-12 text-center" class="center">
						<div class="pagination-wrap" class="center">
							<ul>
								<li><a href="/crop_requisites_1">Prev</a></li>
								<li><a href="/crop_requisites_1">1</a></li>
								<li><a class="active" href="#">2</a></li>
								<li><a href="/crop_requisites_3">3</a></li>
								<li><a href="/crop_requisites_3">Next</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end products -->

		<section class="shop-banner" style="margin-top:55px;margin-left:10%;background-color:#D3D3D3;border-left: 10px solid black" >
		<div class="contact-from-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mb-5 mb-lg-0">
					<div class="form-title">
						<h2>Have you any question?</h2>
						<p>Dear user if you don't find the crop requisites that you were looking for please leave us a message and we will get back to you withing the next 24 Hours</p>
					</div>
				 	<div id="form_status"></div>
					<div class="contact-form">
						<form method="POST" action="{{ url_for('bench_2mail')}}" id="fruitkha-contact" onSubmit="return valid_datas( this );">
							<p>
								<input type="text" placeholder="Name" name="name" id="name">
								<input type="email" placeholder="Email" name="email" id="email">
							</p>
							<p>
								<input type="tel" placeholder="Phone" name="phone" id="phone">
								<input type="text" placeholder="Missing Crop Requisite" name="crop" id="crop">
							</p>
							<p><textarea name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea></p>
							<input type="hidden" name="token" value="FsWga4&@f6aw" />
							<p><input type="submit" value="Submit"></p>
						</form>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="contact-form-wrap">
						<div class="contact-form-box">
							<h4><i class="fas fa-map"></i>Address</h4>
							<p>1st Main <br> Marathahalli <br> Banagalore</p>
						</div>
						<div class="contact-form-box">
							<h4><i class="far fa-clock"></i> Working Hours</h4>
							<p>MON - FRIDAY: 8 to 9 PM <br> SAT - SUN: 10 to 8 PM </p>
						</div>
						<div class="contact-form-box">
							<h4><i class="fas fa-address-book"></i> Contact</h4>
							<p>Phone: +91 123456789 <br> Email: <span style="font-size:12px">cropmanagementmail@gmail.com</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    </section>

		<!-- footer -->
		<div class="footer-area">
			<div class="container">
				<div class="row">

					<div class="col-lg-3 col-md-6">
						<div class="footer-box get-in-touch">
							<h2 class="widget-title">Get in Touch</h2>
							<ul>
								<li>Marathahalli, Bangalore, 560037</li>
								<li>adrushtshetty@gmail.com</li>
								<li>+91 9880404603</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="footer-box pages">
							<h2 class="widget-title">Pages</h2>
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="/about">About</a></li>
								<li><a href="#">Crop Management</a>
									<ul class="sub-menu">
										<li><a href="/crop_prediction">Crop Predicition</a></li>
										<li><a href="/crop_requisites_1">Crop Benchmarks</a></li>
									</ul>
								</li>

							</ul>
						</div>
						<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="{{ url_for('mail')}}" method="post">
							<input type="email" placeholder="Email" name="Mail" >
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- end footer -->



	<!-- jquery -->
	<script src="static/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="static/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="static/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="static/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="static/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="static/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="static/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="static/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="static/js/sticker.js"></script>
	<!-- main js -->
	<script src="static/js/main.js"></script>
</body>

</html>